Navigettr/api/Navigettr.Services/Connected Services/ServiceReference3/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SurveyUserManagmentApi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ISurveyUserManagmentApi_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISurveyUserManagmentApi_InsertSurvey_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSurvey" />
  </wsdl:message>
  <wsdl:message name="ISurveyUserManagmentApi_InsertSurvey_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSurveyResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyUserManagmentApi_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="ISurveyUserManagmentApi_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyUserManagmentApi_UpdateSyrvey_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSyrvey" />
  </wsdl:message>
  <wsdl:message name="ISurveyUserManagmentApi_UpdateSyrvey_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSyrveyResponse" />
  </wsdl:message>
  <wsdl:message name="ISurveyUserManagmentApi_Getsharelinks_InputMessage">
    <wsdl:part name="parameters" element="tns:Getsharelinks" />
  </wsdl:message>
  <wsdl:message name="ISurveyUserManagmentApi_Getsharelinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetsharelinksResponse" />
  </wsdl:message>
  <wsdl:portType name="ISurveyUserManagmentApi">
    <wsdl:operation name="InsertSurvey">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyUserManagmentApi/InsertSurvey" message="tns:ISurveyUserManagmentApi_InsertSurvey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyUserManagmentApi/InsertSurveyResponse" message="tns:ISurveyUserManagmentApi_InsertSurvey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyUserManagmentApi/InsertUser" message="tns:ISurveyUserManagmentApi_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyUserManagmentApi/InsertUserResponse" message="tns:ISurveyUserManagmentApi_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSyrvey">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyUserManagmentApi/UpdateSyrvey" message="tns:ISurveyUserManagmentApi_UpdateSyrvey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyUserManagmentApi/UpdateSyrveyResponse" message="tns:ISurveyUserManagmentApi_UpdateSyrvey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getsharelinks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISurveyUserManagmentApi/Getsharelinks" message="tns:ISurveyUserManagmentApi_Getsharelinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISurveyUserManagmentApi/GetsharelinksResponse" message="tns:ISurveyUserManagmentApi_Getsharelinks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISurveyUserManagmentApi" type="tns:ISurveyUserManagmentApi">
    <wsp:PolicyReference URI="#BasicHttpBinding_ISurveyUserManagmentApi_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertSurvey">
      <soap:operation soapAction="http://tempuri.org/ISurveyUserManagmentApi/InsertSurvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/ISurveyUserManagmentApi/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSyrvey">
      <soap:operation soapAction="http://tempuri.org/ISurveyUserManagmentApi/UpdateSyrvey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getsharelinks">
      <soap:operation soapAction="http://tempuri.org/ISurveyUserManagmentApi/Getsharelinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SurveyUserManagmentApi">
    <wsdl:port name="BasicHttpBinding_ISurveyUserManagmentApi" binding="tns:BasicHttpBinding_ISurveyUserManagmentApi">
      <soap:address location="https://techdev2.corpgov.tech/Api/SurveyUserManagmentApi.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>